<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" 
    content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name = "format-detection" content = "telephone=no">
	<title> </title>
	<script src="{{ url_for('static',filename='js/layer.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='js/need/layer.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/weui.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery-weui.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/swiper-4.1.0.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}?v=1.14">
	<script type="text/javascript">
		$SCRIPT_ROOT={{request.script_root|tojson|safe}};

	</script>
</head>
<body>
	<div class='head'>
		<img class='user' src="{{ url_for('static',filename='img/user.png') }}"/>
		<div class='icons'>
			<span></span>
			<span id = 'balance'></span>
		</div>
		<div class = 'right'>
			<p id = 'title'> </p>
			<span id='state'></span>
		</div>
	</div>
	<div class='center'>
		<h4>请选择套餐</h4>
		<div class = 'flex_box'>
			<!-- <dl num='1'>
				<img class = 'choose' src="{{ url_for('static',filename='img/choose.png') }}" />
				<dt>
					<p>1元</p>
					<p>1币</p>
				</dt>
				<dd>节省0元</dd>
			</dl>
			-->
		</div>
	</div>
	<div class = 'chair_footer'>
		<p id = 'chair_money'>本次支付：</p>
		<button id='chair_pay'>现在支付</button>
	</div>
	<!-- <div class='footer'>
		<div>
			<h6 class='machine'></h6>
			<P class='footer_b'>
			<label style="display: block; ">剩余数量：<span id='icon_num'></span></label>
			
				<button id='remove'></button>
				<span id='icon'>0</span>
				<button id='add'></button> 
			</P>
			<img id = 'doll_pay' src="{{ url_for('static',filename='img/play.png') }}" />
		</div>
	</div> -->
	<form id='myform' method="POST" action="https://openapi.alipay.com/gateway.do"></form>
	<div class="swiper-container">
	    <div class="swiper-wrapper">

	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	</div>
	<script src="{{ url_for('static',filename='js/jquery-2.2.3.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/swiper-4.1.0.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/myswiper.js') }}?v=1.11"></script>
</body>
<script src="{{ url_for('static',filename='js/jquery-weui.min.js') }}?v=1"></script>
<script type="text/javascript" async src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="{{ url_for('static',filename='js/doll.js') }}?v=2.17"></script>
</html>